# Generic client ignores
*client.json
*client.toml
*client.properties
*client.snbt
*client.ini

# Ignore backups
*.bak

# Ignore temp files
config/spark/tmp/

# Ignore client configs
config/litematica/
config/voicechat/username-cache.json
config/voicechat/player-volumes.properties
config/justzoom/
config/particlerain/
config/cccbridge/client.toml
config/jade/
config/jei/
config/fzzy_config/keybinds.toml
config/chunksmith/worldgen-faults.txt
config/chunksmith/tasks/
config/Veinminer/update/
